.ToolBar {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  height: 40px;
  align-items: center;

  ul {
    display: flex;
    align-items: center;

    a {
      padding: 10px;
      font-size: 0;
      img {
        height: 20px;
        width: 20px;
      }
      a:first-child {
        background: url("/public/icons/instagram.svg") no-repeat center;
      }
      a:last-child {
        background: url("/public/icons/facebook.svg") no-repeat center;
      }
    }
  }
}

.BehindNavBar {
  width: 100%;
  height: 150px;
}

.NavBarTopSection {
  padding: 0 30px;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    align-self: center;
    font-size: 0;
  }

  .Logo {
    display: flex;
    img {
      align-self: flex-end;
      padding: 10px 0;
    }
  }

  a {
    img {
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: flex-end;
    }
  }
  ul {
    align-self: center;
  }
}

@mixin NavBarBothStyles {
  display: flex;
  flex-direction: column;
  height: 150px;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  width: 100%;
  background: white;
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

    font-weight: 700;
    font-size: 28px;
    li{
      margin: 7.5px;
      display: table-cell; 
      position: relative; 
      padding-bottom: 3px;
      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        left: 0;
      }
      a:hover:after {
        width: 100%;
      }
    }

  }
}

.NavBar {
  @include NavBarBothStyles;
}

.NavBarDropEffect {
  @include NavBarBothStyles;
  position: fixed;
  z-index: 99999;
  top: 0;
}

.NavBarEffectOutsideScreen {
  width: 100%;
  top: -150px;
}

.NavBarDropping {
  width: 100%;
  height: 150px;
  transition: 0.5s;
}

.shopSectionHidden {
  display: none;
  visibility: visible;
  height: 500px;
  width: 100%;
}

.shopSectionDisplayed {
  position: fixed;
  z-index: 9000;
  height: 500px;
  width: 100%;
  visibility: visible;
  background: white;
  padding: 30px 200px;
}

.gridSectionWidth {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.eachSection {
  width: 25%;
  height: 100%;
  justify-content: center;

  img {
    width: 50%;
  }

  ul {
    margin-top: 30px;
    list-style-type: none;

    li {
      padding: 10px;
      letter-spacing: 2px;
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        justify-content: center;
      }
    }
    li:first-child {
      padding: 20px 10px;
      padding-top: 0;
    }
  }
}

